<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Activity Map</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{% static 'markers/leaflet.awesome-markers.css' %}">
    <script src="{% static 'markers/leaflet.awesome-markers.js' %}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/checkbox.css' %}">


</head>
<body>
<!-- Основной блок с картой (занимает 85% ширины страницы) -->
<div id="map"></div>

<!-- Инфо блок -->
<div id="info-container">
    <!-- Marker Info (занимает 70% высоты инфо блока) -->
    <div id="marker-info">
        <h2>Marker Info</h2>
        <ul id="marker-list">
            <!-- Placeholder for marker information -->
        </ul>
    </div>

    <!-- Filter by Activity (занимает 30% высоты инфо блока) -->
    <div id="activity-filter">
        <h3>Filter by Activity:</h3>
        <div id="activity-checkboxes">
            <!-- Чекбоксы будут добавлены динамически при загрузке данных -->
        </div>
    </div>
</div>

<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/checkbox.js' %}"></script>


</body>
</html>
