body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh; /* Take up the entire height of the browser window */
}

#map {
    flex: 1;
    height: 100%; /* Take up the entire height of the main block */
}

#info-container {
    flex: 0 0 15%;
    width: 15%; /* Info block width (15% of page width) */
    display: flex;
    flex-direction: column;
}

#marker-info {
    flex: 0 0 60%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    overflow-y: auto;
}

#activity-filter {
    flex: 0 0 40%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#activity-filter h3 {
    margin-bottom: 5px;
}

#activity-checkboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
