/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Navbar */
.navbar {
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
}

.navbar h1 {
    margin: 0;
}

/* Main container */
.main-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

/* Map */
#map {
    flex: 1;
    height: 100%;
}

/* Info Container */
#info-container {
    width: 15%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

/* Marker Info */
#marker-info {
    flex: 0 0 60%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 10px;
}

/* Activity Filter */
#activity-filter {
    flex: 0 0 40%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#activity-filter h3 {
    margin-bottom: 5px;
}

#activity-checkboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Footer */
.footer {
    background-color: white; /* Изменили цвет фона на белый */
    color: black; /* Изменили цвет текста на черный */
    padding: 35px;
    text-align: center;
    border-top: 1px solid black; /* Добавили верхнюю рамку */
    margin-top: auto; /* Подталкивает футер вниз, чтобы он был внизу страницы */
}

