<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activity Map</title>
     <!-- Подключение Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- Подключение AwesomeMarkers -->
    <link rel="stylesheet" href="{% static 'css/leaflet.awesome-markers.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>

     <!-- Подключение FontAwesome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
</head>
<body>
<div>
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>
